<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external=True) }}">
</head>

<body id="plot">
    <div class="row" >
        <img src="{{ url_for('static', filename='img/model_diagram.png', _external=True) }}">
        <div class="title">
            <div>Hola :)</div>
        </div>
    </div>

    <div class="container">
        Pruebita
    </div>

    <img src="data:image/png;base64, {{ encoded_img|safe }}">

    <button id="click">click me hej</button>

</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $("#click").on('click', function(event) {
    event.preventDefault();

    $.ajax({
      url: "/new_plot",
      type: "get",
      data: {jsdata: 'hasd'},
      success: function(response) {
        $("#plot").html(response);
      },
      error: function(xhr) {
        //Do Something to handle error
      }
    });
  });
  </script>

</html>
