<html>

<head>
    <title>Instruction Follower</title>
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css', _external=True) }}">
</head>

<body>
  <div class="container">
    <div class="title" >
       Blind Navigation for ECCV Submission
    </div>
    <input type="text" required id="username" placeholder="Enter your username"/>

    <button id="click">GO!</button>
  </div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $("#click").on('click', function(event) {
    if ($("#username").val().length === 0) {
      return;
    }

    window.location = "/experiment?username=" + $("#username").val()
  });
</script>
</html>
